.list-group-item {
  line-height: 2.5;
}

#title {
  float: left;
  min-height: 55px;
  padding: 15px 15px 5px;
  font-size: 40px;
  color: white;
  font-weight: bolder;
  animation-duration: 2.5s;
}

body {
  height: 100%;
  background-image: url('images/bacon-breakfast.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: black;
  margin: auto;
  padding: 0;
  font-family: 'Major Mono Display', monospace;

}

p {
  color: white;
  text-align: center;
}

div {
  display: inline-block;
}

img {
  max-height: 30vw;
}

#jumbo1 {
  margin: 3%;
  opacity: 0.75;
}

#jumbo2 {
  margin: 3%;
  opacity: 0.75;
}

.row {
  padding: 15px;
}

#recipeDiv {
  align-items: center; 
  overflow: auto;
}

#recipeName {
  background-color: black;
  color: whitesmoke;
  border-radius: 6px;
  font-size: 10vh;
  float: left;
  clear: both;
  opacity: 0.7;
}

#recipeURL {
  max-height: 100px;
  margin-left: 10px;
}
/* BUTTONS */

#btn1,
#btn2 {
  border-radius: 6px;
  opacity: 0.7;
  width: 100%;
}

#btn1:hover,
#btn2:hover {
  opacity: 1.0;
  font-weight: bold;
}

#add-btn,
#next-btn {
  border-radius: 6px;
  padding: 5%;
  margin-left: 15%;
  width: 13rem;
}

/* FOOTER */

footer {
  text-align: right;
  background-color: black;
  color: lightgray;
  clear: both;
  width: 100%;
  height: 90px;
  padding-bottom: 5px;
  border-top: solid;
  border-color: white;
  border-width: 5px;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 2vh;
}

#explicit {
  max-width: 15%;
  /* float: left; */

}

h6.footertext {
  margin-bottom: 0;
}